<!DOCTYPE html>
<html>
<head>
    <title>Phishing Awareness Project</title>
</head>
<body>

<h1>Welcome to the Phishing Awareness Project</h1>

<p>
This system simulates phishing attacks for educational purposes.
</p>

<hr>

<h2>Simulations</h2>

<a href="/phishing-email">
    <button>Phishing Email Simulation</button>
</a>

<a href="/fake-login">
    <button>Fake Login Page</button>
</a>

<h2>Learning</h2>

<a href="/awareness">
    <button>Security Awareness</button>
</a>

<h2>Admin</h2>

<a href="/dashboard">
    <button>View Dashboard</button>
</a>

</body>
</html>